/* ベーススタイル */
{
    margin: 0;
    padding: 0;
}

/* 雪を降らせる場所のスタイル */
.snow-container {
    /* サイズをページ全体に */
    width: 100%;
    min-height: 100vh; /* 画面の最小高さを100vhに設定 */
    
    /* 背景色を黒に指定 */
    background-color: black;
    
    position: relative;
    overflow: hidden; /* はみ出す要素を隠す */
}

/* タイトルのスタイル */
.title {
    /* 色、フォントサイズ、影、の設定 */
    color: snow;
    font-size: 4.8em;
    text-shadow: 2px 3px 7px;
    
    /* snow-containerに対して位置を指定するために */
    position: absolute;

    /* ど真ん中に位置させる */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 雪のスタイル */
.snow {
    background-color: snow;
    border-radius: 50%;
    position: absolute;
    animation: snowFall 10s linear infinite;
}

/* 雪のアニメーション */
@keyframes snowFall {
    0% {
        opacity: 0;
        top: 0;
    }
    10% {
        opacity: 1;
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    90% {
        opacity: 1;
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        top: 100vh; /* ページの最下部 */
    }
}
