{
    margin: 0;
    padding: 0;
}

/*
雪を降らせる場所のスタイル
*/

.snow-container {
    /*サイズをページ全体に */
    width: 100%;
    height: 100vh;
    
    /* 背景色を黒に指定 */
    background-color: black;
    
    position: relative;
    /*
    これにより、この要素を基準にして、このなかの要素の相対位置を指定できます。
    詳しく知りたい方は、
    https://zero-plus.io/media/css-position-relative/
    などを見てみてください。
    */

    /*
    はみ出す要素があるので、それを隠せるよう設定します。
    設定しなかったらページが、がぐがぐになります。（試すのならJavaScriptも書いてから試してみてください。）
    */
    overflow: hidden;
}

/* タイトルのスタイル */
.title {
    /* 色、フォントサイズ、影、の設定 */
    color: snow;
    font-size: 4.8em;
    text-shadow: 2px 3px 7px;

    /* snow-containerに対して位置を指定するために */
    position: absolute;

    /* ど真ん中に位置させる */
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 雪のスタイル */
.snow {
    /* 背景色（雪だから、そりゃ、snow です。※redやってみても面白いですｗ） */
    background-color: snow;

    /* 雪、つまりまるなので、要素の角をまるくします。 */
    border-radius: 50%;

    /* 位置をsnow-containerの中に相対的に指定できるように */
    position: absolute;

    /*
    雪は降らなきゃいけない（つまり、落ちるようにページ上を移動しなくてはいけないので）アニメーションを指定します。
    animation: アニメーション名 アニメーション時間 動き方
    （linearは「直線的に」て感じです。詳しくはhttps://developer.mozilla.org/ja/docs/Web/CSS/animation-timing-function）
    ※アニメーションはこの次、作成します。
    */
    animation: snowFall 10s linear;
}

/* 雪のアニメーションの作成 */
@keyframes snowFall {
    /* 初め */
    0% {
        opacity: 0; /* 不透明度を0に（つまり、なんも見えませんね） */
        top: 0; /* ページのいっちゃん上に配置します。 */
    }
    10% {
        opacity: 1; /* 見えるようにします。 */
        transform: translateX(5px); /* これは、横にちょっと動かすようにして、雪がふらふら落ちるようにしています。なくてもいいです */
    }
    30% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    90% {
        opacity: 1; /* この時もまだ見える状態でなくてはいけないので、この様に書いておきます */
        transform: translateX(-5px);
    }
    100% {
        /* 見えなくして、ページのいっちゃん下に位置するようにします */
        opacity: 0;
        top: 100vh;
    }
}